<%- include('header'); -%>

<!-- About Us Section -->
  <section id="about" class="container">
    <h2>Welcome to GrocerySmart</h2>
    <p>Your Ultimate Guide to Smart Grocery Shopping!</p>
    <p>Are you tired of overspending on groceries and constantly feeling the pinch of rising prices? Look no further – GrocerySmart is here to revolutionize the way you shop for essentials.</p>
    <p>In today's fast-paced world, finding the best deals on groceries can be a daunting task. That's where GrocerySmart comes in. Our innovative platform is designed to empower you with the tools and information you need to make informed purchasing decisions and save money on every trip to the store.</p>
    <p>With GrocerySmart, you'll have access to a comprehensive database of prices from nearby markets, allowing you to compare and find the best deals on your favorite products. Say goodbye to guesswork and hello to savings!</p>
    <p>But we're not just about saving you money – we're also committed to supporting local farmers and vendors. By establishing direct connections with food producers, we're able to cut out the middleman and pass the savings on to you.</p>
    <p>And that's not all. With GrocerySmart, you'll also enjoy exclusive loyalty rewards and discounts, making every purchase a rewarding experience.</p>
    <p>Ready to take control of your grocery budget and start saving? Join the GrocerySmart community today and discover a smarter way to shop!</p>
  </section>

  <!-- Interactive Infographic -->
<section class="container">
  <h2>About the Developer</h2>
  <div class="infographic">
    <p>Meet Alex, the visionary behind Grocery Smart. With a passion for helping others and a deep understanding of the challenges faced by consumers in today's market, ABC set out to create a platform that would revolutionize the way people shop for groceries.</p>
    <p>Driven by the desire to provide affordable options for families and individuals struggling to make ends meet, ABC founded Grocery Smart with the mission of empowering shoppers to make smarter purchasing decisions and save money on every trip to the store.</p>
    <p>Through his dedication and hard work, ABC has transformed Grocery Smart into a trusted resource for consumers nationwide, providing access to a wealth of information and tools designed to make grocery shopping more convenient, affordable, and enjoyable for everyone.</p>
    <p>Join Alex and the Grocery Smart community today and discover a smarter way to shop!</p>
    <a href="#">
      <img src="dev.jpg" height="500" width="500" alt="Infographic" />
    </a>
  </div>
</section>
<br>


<%- include('footer'); -%>

