    </main>
    <!-- Footer section -->
    <footer class="container-fluid p-2 bg-dark text-white text-center">
        <p>&copy; 2024 Grocery Smart!</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/search.js"></script>
</body>
</html>
