<%- include('header'); -%>


<main>
    <div class="container">
        <h1>Invalid <%= title %>?</h1>
        <p> There was a problem with the data you supplied in the form.
        </p>
	<h6>Error is the form field: <span style="color: red;"><%= title %></span>
	</h6>
    </div>
</main>

<%- include('footer'); -%>

