<%- include('header'); -%>

  <!-- Introduction -->
  <section id="about" class="container">
    <div class="header">
        <h1>About</h1>
    </div>
    <div class="content">
        <p>Welcome to Grocery Smart - where the aisles are filled with smiles and the deals are as fresh as our produce! </p>
        <p>Grocery shopping just got a whole lot more fun and quirky! Dive into a wonderland of delicious delights, from crunchy cucumbers to cheeky chocolates, all conveniently delivered to your doorstep.</p>
        <p>But wait, there's more! Our sales and promotions are hotter than a jalapeño on a summer day! Get ready to snag some seriously sizzling deals that will make your wallet do a happy dance. </p>
        <p>So why settle for boring old grocery shopping when you can add some zest to your cart with <span class="highlight">Grocery Smart</span>? Let's get this party started - because who said grocery shopping can't be a blast? </p>
    </div>
  </section>

  <!-- Products Section -->
    <section id="products" class="container">
        <h2>See Our Range!</h2>
        <p>Explore our selection of popular grocery products.</p>
        
        <!-- Bootstrap cards as clickable links with images -->
        <div class="row">
        <div class="col-md-4 mb-4">
            <a href="fruits_vegetables.html" class="text-decoration-none">
            <div class="card">
                <img src="Image1.jpg" height="350" class="card-img-top" alt="Fruits & Vegetables">
                <div class="card-body">
                <h5 class="card-title">Fruits & Vegetables</h5>
                <p class="card-text">Explore a variety of fresh fruits and vegetables.</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="meat_poultry_seafood.html" class="text-decoration-none">
            <div class="card">
                <img src="Image2.jpg" height="350" class="card-img-top" alt="Meat, Poultry & Seafood">
                <div class="card-body">
                <h5 class="card-title">Meat, Poultry & Seafood</h5>
                <p class="card-text">Discover high-quality meats, poultry, and seafood.</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="dairy_products.html" class="text-decoration-none">
            <div class="card">
                <img src="Image3.jpeg" height="350" class="card-img-top" alt="Dairy Products">
                <div class="card-body">
                <h5 class="card-title">Dairy Products</h5>
                <p class="card-text">Browse a selection of products like milk, cheese, and yogurt.</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="grains_pasta.html" class="text-decoration-none">
            <div class="card">
                <img src="Image4.jpeg" height="350" class="card-img-top" alt="Grains & Pasta">
                <div class="card-body">
                <h5 class="card-title">Grains & Pasta</h5>
                <p class="card-text">Find a variety of grains and pasta for your pantry.</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="canned_packaged_food.html" class="text-decoration-none">
            <div class="card">
                <img src="Image5.jpg" height="350" class="card-img-top" alt="Canned & Packaged Food">
                <div class="card-body">
                <h5 class="card-title">Canned & Packaged Food</h5>
                <p class="card-text">Explore convenient canned and packaged food options.</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="snacks_beverages.html" class="text-decoration-none">
            <div class="card">
                <img src="Image6.jpg" height="350" class="card-img-top" alt="Snacks & Beverages">
                <div class="card-body">
                <h5 class="card-title">Snacks & Beverages</h5>
                <p class="card-text">Indulge in a variety of snacks and beverages.</p>
                </div>
            </div>
            </a>
        </div>
        </div>
    </section>
  

 
  <!-- Offers Section -->
    <section id="offers" class="container">
        <h2>Latest Offers</h2>
        <p>Discover the latest deals and offers from grocery stores.</p>
        
        <!-- Image links to specific offers -->
        <div class="row">
        <div class="col-md-3 mb-4">
            <a href="offer1.html">
            <img src="Offer1.png" height="350" alt="Offer 1" class="img-fluid">
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="offer2.html">
            <img src="Offer2.png" height="350" alt="Offer 2" class="img-fluid">
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="offer3.html">
            <img src="Offer3.png" height="350" alt="Offer 3" class="img-fluid">
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="offer4.html">
            <img src="Offer4.png" height="350" alt="Offer 4" class="img-fluid">
            </a>
        </div>
        </div>
   </section>

<%- include('footer'); -%>
