<%- include('header'); -%>

  <!-- Products Section -->
  <section id="products" class="container">
    <div class="header">
      <h2>Products</h2>
      <p>Explore our selection of grocery sections:</p>
    </div>

    <div class="row">
        <!-- Fruits & Vegetables -->
        <div class="col-md-6">
            <a href="fruits_vegetables.html" class="card-link">
                <div class="card">
                    <img src="Image1.jpg" height="250" class="card-img-top" alt="Fruits & Vegetables">
                    <div class="card-body">
                        <h5 class="card-title">Fruits & Vegetables</h5>
                        <ul>
                            <li>Fresh Fruits</li>
                            <li>Fresh Vegetables</li>
                            <li>Organic Produce</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>

        <!-- Meat, Poultry & Seafood -->
        <div class="col-md-6">
            <a href="meat_poultry_seafood.html" class="card-link">
                <div class="card">
                    <img src="Image2.jpg" height="250" class="card-img-top" alt="Meat, Poultry & Seafood">
                    <div class="card-body">
                        <h5 class="card-title">Meat, Poultry & Seafood</h5>
                        <ul>
                            <li>Beef</li>
                            <li>Chicken</li>
                            <li>Seafood</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <!-- Dairy Products -->
        <div class="col-md-6">
            <a href="dairy_products.html" class="card-link">
                <div class="card">
                    <img src="Image3.jpeg" height="250" class="card-img-top" alt="Dairy Products">
                    <div class="card-body">
                        <h5 class="card-title">Dairy Products</h5>
                        <ul>
                            <li>Milk</li>
                            <li>Cheese</li>
                            <li>Yogurt</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>

        <!-- Grains & Pasta -->
        <div class="col-md-6">
            <a href="grains_pasta.html" class="card-link">
                <div class="card">
                    <img src="Image4.jpeg" height="250" class="card-img-top" alt="Grains & Pasta">
                    <div class="card-body">
                        <h5 class="card-title">Grains & Pasta</h5>
                        <ul>
                            <li>Rice</li>
                            <li>Pasta</li>
                            <li>Bread</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <!-- Canned & Packaged Food -->
        <div class="col-md-6">
            <a href="canned_packaged_food.html" class="card-link">
                <div class="card">
                    <img src="Image5.jpg" height="250" class="card-img-top" alt="Canned & Packaged Food">
                    <div class="card-body">
                        <h5 class="card-title">Canned & Packaged Food</h5>
                        <ul>
                            <li>Canned Soups</li>
                            <li>Canned Vegetables</li>
                            <li>Instant Meals</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>

        <!-- Snacks & Beverages -->
        <div class="col-md-6">
            <a href="snacks_beverages.html" class="card-link">
                <div class="card">
                    <img src="Image6.jpg" height="250" class="card-img-top" alt="Snacks & Beverages">
                    <div class="card-body">
                        <h5 class="card-title">Snacks & Beverages</h5>
                        <ul>
                            <li>Chips</li>
                            <li>Soft Drinks</li>
                            <li>Energy Drinks</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>


<%- include('footer'); -%>

